$accent: #5d5fef;

$text-light: #ffffff;
$text-dark: #000000;
$text-lightgray: #6b7280;
$text-darkgray: #4d5562;

$border-light: #e2e3e5;
$border-dark: #c4c4c4;

$background-light: #ffffff;
$background-gray: #f3f4f6;
