@import '@styles/presets';

.wrapper {
  @extend %centered;
  max-width: 700px;
  min-height: 100vh;
  margin: 0 auto;
  padding: 1rem;
}

.app {
  display: flex;
  justify-content: space-between;
  gap: 4rem;

  &__column {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    gap: 2rem;
  }
}
