@import './styles/normalize';
@import './styles/colors';

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;800&family=Poppins:wght@400;500;800&display=swap');

html {
  font-family: 'Inter', 'Poppins', sans-serif;
  color: $text-dark;
  font-size: 14px;
  font-weight: 500;
}

body {
  background-color: $background-light;
}
